<mat-card>
    <h1>Agregar nueva Rutina</h1>
    <mat-card-content>
      <div class="bootstrap-wrapper">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <form (ngSubmit)="formSubmit()">
  
              <mat-form-field class="w100" appearance="outline">
                <mat-label>Nombre</mat-label>
                <input required autofocus type="text" name="nombre" matInput placeholder="Digite el nombre de la Rutina"
                  [(ngModel)]="rutina.nombre">
              </mat-form-field>
  
              <mat-form-field class="w100" appearance="outline">
                <mat-label>Descripción</mat-label>
                <textarea required name="descripcion" matInput placeholder="Introduzca una descripción para la rutina"
                  [(ngModel)]="rutina.descripcion"></textarea>
              </mat-form-field>
  
              <mat-form-field class="w100" appearance="outline">
                <mat-label>Dificultad</mat-label>
                <mat-select required name="dificultad" [(ngModel)]="rutina.dificultad">
                  <mat-option value="Facil">Facil</mat-option>
                  <mat-option value="Medio">Medio</mat-option>
                  <mat-option value="Dificil">Dificil</mat-option>
                </mat-select>
              </mat-form-field>
  
              <mat-form-field class="w100" appearance="outline">
                <mat-label>Duración (h)</mat-label>
                <input required autofocus type="number" name="duracion" matInput placeholder="Añada la duración de la rutina"
                  [(ngModel)]="rutina.duracion">
              </mat-form-field>
  
              <div class="container text-center mt15">
                <button mat-raised-button color="primary">Guardar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  
