<div class="col-md-6 offset-md-3">
    <h3 class="text-center">Actualizar Entrenadores</h3>
    <form (ngSubmit)="onSubmit()" #entrenadorForm = "ngForm" >
        <div class="form-group">
            <label class="col-md-2 control-label">Nombre: </label>
            <input type="text" class="form-control" id="nombre" [(ngModel)]="entrenador.nombre" name="nombre" #nombre = "ngModel" >
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Correo: </label>
            <input type="text" class="form-control" id="correo" [(ngModel)]="entrenador.correo" name="correo" #correo = "ngModel">
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Certificaciones: </label>
            <input type="text" class="form-control" id="certificaciones" [(ngModel)]="entrenador.certificaciones" name="certificaciones" #certificaciones = "ngModel">
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Especialización: </label>
            <input type="text" class="form-control" id="especializacion" [(ngModel)]="entrenador.especializacion" name="especializacion" #especializacion = "ngModel">
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Años de experiencia: </label>
            <input type="text" class="form-control" id="aniosExperiencia" [(ngModel)]="entrenador.aniosExperiencia" name="aniosExperiencia" #aniosExperiencia = "ngModel">
        </div><br>
        <button class="btn btn-success">Guardar</button>
    </form>
</div>
