<div class="col-md-6 offset-md-3">
    <h3 class="text-center">Registrar Usuarios</h3>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label class="col-md-2 control-label">Loginname: </label>
            <input type="text" class="form-control" id="loginname" [(ngModel)]="usuario.loginname" name="loginname">
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Nombre: </label>
            <input type="text" class="form-control" id="nombre" [(ngModel)]="usuario.nombre" name="nombre">
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Password: </label>
            <input type="password" class="form-control" id="password" [(ngModel)]="usuario.password" name="password">
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Correo: </label>
            <input type="email" class="form-control" id="correo" [(ngModel)]="usuario.correo" name="correo">
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Genero: </label>
            <input type="text" class="form-control" id="genero" [(ngModel)]="usuario.genero" name="genero">
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Altura: </label>
            <input type="number" class="form-control" id="altura" [(ngModel)]="usuario.altura" name="altura">
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Peso: </label>
            <input type="number" class="form-control" id="peso" [(ngModel)]="usuario.peso" name="peso">
        </div>
        <br>
        <button class="btn btn-success">Guardar</button>
    </form>
</div>