.title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    
    margin-bottom: 20px;
  }

  .card-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .card {
    width: 100%;
  }
