<mat-card>
    <h1>Agregar nuevo Ejercicio</h1>
    <mat-card-content>
      <div class="bootstrap-wrapper">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <form (ngSubmit)= "formSubmit()">

              <mat-form-field class="w100" appearance="outline">
                <mat-label>Nombre</mat-label>
                <input
                required
                autofocus
                type="text"
                name="nombre"
                matInput
                placeholder="Digite el nombre del Ejercicio"
                [(ngModel)] = "ejercicio.nombre"
                >
              </mat-form-field>
              
              <mat-form-field class="w100" appearance="outline">
                <mat-label>Descripcion</mat-label>
                <input
                required
                autofocus
                type="text"
                name="descripcion"
                matInput
                placeholder="Introduzca una descripcion para el ejercicio"
                [(ngModel)] = "ejercicio.descripcion"
                >
              </mat-form-field>

              <mat-form-field class="w100" appearance="outline">
                <mat-label>Grupo Muscular</mat-label>
                <input
                required
                autofocus
                type="text"
                name="grupomuscular"
                matInput
                placeholder="Añada un Grupo Muscular"
                [(ngModel)] = "ejercicio.grupomuscular"
                >
              </mat-form-field>

              <mat-form-field class="w100" appearance="outline">
                <mat-label>Equipo Necesario</mat-label>
                <input
                required
                autofocus
                type="text"
                name="equiponecesario"
                matInput
                placeholder="Añada el Equipo Necesario"
                [(ngModel)] = "ejercicio.equiponecesario"
                >
              </mat-form-field>
  
              <div class="container text-center mt15">
                <button mat-raised-button color="primary">Guardar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  


