<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
  
  <div class="collapse navbar-collapse" id="collapsibleNavId">

    <ul class="navbar-nav me-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-item nav-link active" [routerLink]="['/']" aria-current="page">Home <span class="visually-hidden">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-item nav-link" [routerLink]="['/usuarios']">Usuarios</a>
      </li>

      <li class="nav-item">
        <a class="nav-item nav-link" [routerLink]="['/planes']">Planes</a>
      </li>

      <li class="nav-item">
        <a class="nav-item nav-link" [routerLink]="['/entrenadores']">Entrenadores</a>
      </li>

      <li class="nav-item">
        <a class="nav-item nav-link" [routerLink]="['/rutinas']">Rutinas</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-item nav-link" [routerLink]="['/ejercicios']">Ejercicios</a>
      </li>

    </ul>

    <!--BOTON DE LOGIN-->
    <li class="d-flex my-2 my-lg-1 px-2"> <!--NO MANDA INFORMACION-->
      <button class="btn btn-outline-success my-2 my-sm-0" type="button" [routerLink]="['/login']">Login</button>
    </li>

    <!--BOTON DE REGISTER-->
    <li class="d-flex my-2 my-lg-1 px-2"> <!--NO MANDA INFORMACION-->
      <button class="btn btn-outline-success my-2 my-sm-0" type="button" [routerLink]="['/register']">Register</button>
    </li>
  </div>
</nav>


<router-outlet></router-outlet>