<nav class="navbar navbar-expand-sm navbar-dark bg-danger">
  
  <div class="collapse navbar-collapse" id="collapsibleNavId">

    <ul class="navbar-nav me-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-item nav-link active" [routerLink]="['/']" aria-current="page" style="font-size:xx-large">HOME<span class="visually-hidden">(current)</span></a>
      </li>

      <li class="nav-item">
        <b class="nav-item nav-link" style="font-size:xx-large">|</b>
      </li>

      <li class="nav-item">
        <a class="nav-item nav-link" [routerLink]="['/usuarios']" style="font-size:xx-large">Usuarios</a>
      </li>

      <li class="nav-item">
        <b class="nav-item nav-link" style="font-size:xx-large">|</b>
      </li>

      <li class="nav-item">
        <a class="nav-item nav-link" [routerLink]="['/planes']" style="font-size:xx-large">Planes</a>
      </li>
      
      <li class="nav-item">
        <b class="nav-item nav-link" style="font-size:xx-large">|</b>
      </li>

      <li class="nav-item">
        <a class="nav-item nav-link" [routerLink]="['/entrenadores']" style="font-size:xx-large">Entrenadores</a>
      </li>

      <li class="nav-item">
        <b class="nav-item nav-link" style="font-size:xx-large">|</b>
      </li>

      <li class="nav-item">
        <a class="nav-item nav-link" [routerLink]="['/rutinas']" style="font-size:xx-large">Rutinas</a>
      </li>

      <li class="nav-item">
        <b class="nav-item nav-link" style="font-size:xx-large">|</b>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-item nav-link" [routerLink]="['/ejercicios']" style="font-size:xx-large">Ejercicios</a>
      </li>

    </ul>

    <!--BOTON DE LOGIN-->
    <li class="d-flex my-2 my-lg-1 px-2"> <!--NO MANDA INFORMACION-->
      <button class="btn btn-outline-light my-2 my-sm-0" type="button" [routerLink]="['/login']" style="font-size:xx-large">Login</button>
    </li>

    <!--BOTON DE REGISTER-->
    <li class="d-flex my-2 my-lg-1 px-2"> <!--NO MANDA INFORMACION-->
      <button class="btn btn-outline-light my-2 my-sm-0" type="button" [routerLink]="['/register']" style="font-size:xx-large">Register</button>
    </li>
  </div>
</nav>

<router-outlet></router-outlet>

<!--FOOTER-->




