<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planes</title>
</head>

<body>
  <section class="bg-light py-5">
    <div class="container">
      <h1 class="display-2 fw-bold text-center mb-5" style="font-size: 2.5rem; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">PLANES</h1>

      <div class="row">
        <!-- AQUI COMIENZA UN PLAN -->
        <div class="col-md-4 mb-4" *ngFor="let p of planes">
          <div class="card h-100">
            <div class="card-header" [ngStyle]="{
              'background-color': p.precio <= 30 ? '#007bff' : (p.precio < 40 ? '#ffc107' : '#dc3545'),
              'color': 'white',
              'border-color': p.precio <= 30 ? '#007bff' : (p.precio < 40 ? '#ffc107' : '#dc3545')
            }">
              <h3 class="card-title fw-bold">{{ p.nombre }}</h3>
            </div>
            <div class="card-body text-center">
              <h3 class="card-subtitle mb-4"><b>Características</b></h3>
              <ul class="list-group">
                <li class="list-group-item" *ngFor="let item of p.descripcion.split(';')">{{ item.trim() }}</li>
              </ul>

              <hr/>
              <h3 class="card-subtitle mb-4"><b>Duracion:</b> {{ p.duracion }} días</h3>

              <hr/>
              <h3 class="card-subtitle mb-4"><b>Precio:</b> {{ p.precio }}€</h3>

              <button class="btn btn-primary mt-4" [routerLink]="'/signup'" [ngStyle]="{
                'background-color': p.precio <= 30 ? '#007bff' : (p.precio < 40 ? '#ffc107' : '#dc3545'),
                'color': 'white',
                'border-color': 'white'
              }">Registrate</button>
              
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>
<app-footer></app-footer>