<div class="col-md-6 offset-md-3">
    <h3 class="text-center">Registrar Rutinas</h3>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label class="col-md-2 control-label">Nombre: </label>
            <input type="text" class="form-control" id="nombre" [(ngModel)]="rutina.nombre" name="nombre">
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Descripcion: </label>
            <input type="text" class="form-control" id="descripcion" [(ngModel)]="rutina.descripcion" name="descripcion">
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Dificultad: </label>
            <input type="text" class="form-control" id="dificultad" [(ngModel)]="rutina.dificultad" name="dificultad">
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Duracion: </label>
            <input type="number" class="form-control" id="duracion" [(ngModel)]="rutina.duracion" name="duracion">
        </div><br>
        <button class="btn btn-success">Guardar</button>
    </form>
</div>