<div class="container">
	<h1>Actualizar entrenador</h1>

	<form action="/entrenador/u" method="post">
		Nombre
		<input type="text" name="nombre" required="required" autofocus="autofocus" />
		<br />
		
		Correo
		<input type="email" name="correo" required="required" autofocus="autofocus" />
		<br />
		
		Especializacion
		<select name="especializacion">
			<option value="Musculacion">Musculacion</option>		
			<option value="Kickboxing">Kickboxing</option>
		</select>
		<br />
		
		Años de Experiencia
		<input type="number" name="anosexperiencia" required="required" autofocus="autofocus" min="0" max="50"/>
		<br />
		
		Rutinas
		<select name="idRutinas[]">
			<th:block th:each="rutina : ${rutinas}">
				<option th:value="${rutina.id}" th:text="${rutina.nombre}" />
			</th:block>
		</select>
		<br />

		<input type="hidden" name="idEntrenador" th:value="${entrenador.id}" />

		<input type="submit" />
		<br />
	</form>

	<form action="/entrenador/r">
		<input type="submit" value="Cancelar" />
	</form>
</div>