<div class="container">
	<h1>Lista de usuarios</h1>

	<form action="/usuario/c">
		<input type="submit" value="Nuevo Usuario" />
	</form>


	<form action="/">
		<input type="submit" value="Menú principal" />
	</form>

	<table class="table table-striped table-hover">
		<tr>
			<th>Acción</th>
			<th>Foto</th>
			<th>Nombre (Loginname)</th>
			<th>Fecha de nacimiento</th>
			<th>Genero</th>
			<th>Entrenador</th>
			<th>Plan</th>
			<th>Altura</th>
			<th>Peso</th>
		</tr>

		<!--BOTONES DE EDITAR Y ELIMINAR-->
		<tr th:each=" usuario : ${ usuarios }">
			<td>
				<div class="row">
					<div class="col">
						<form action="/usuario/u">
							<input type="hidden" th:value="${usuario.id}" name="id" />
							<button onclick="submit()">
								<img src="/img/lapiz.png" width="20" height="20" />
							</button>
						</form>
					</div>

					<div class="col">
						<form action="/usuario/d" method="post">
							<input type="hidden" th:value="${usuario.id}" name="id" />
							<button onclick="submit()">
								<img src="/img/basura.png" width="20" height="20" />
							</button>
						</form>
					</div>
				</div>
			</td>
			
			<!--FOTO-->
			<td> <img th:src=" ${usuario.extension == null || usuario.extension.isEmpty() ? '/img/silueta.jpg' : uriIMG + 'user-' + usuario.id + '.' + usuario.extension }  " width="30" height="30"/> </td>

			<!--NOMBRE && LOGINNAME-->
			<td th:text="|${usuario.nombre} (${usuario.loginname})|" />

			<!--FECHA NACIMIENTO-->
			<td th:text="|${usuario.fnac?.getDayOfMonth()} de ${usuario.fnac?.getMonth()} de ${usuario.fnac?.getYear()}|"> </td>
			
			<!--GENERO-->
			<td th:text="|${usuario.genero}|" />
			
			<!--ENTRENADOR-->
			<td th:text="${ persona.entrenador==null ? 'Sin entrenador' : persona.entrenador.nombre }"/>
			
			<!--PLAN-->
			<td th:text="${ persona.plan==null ? 'Sin plan' : persona.plan.nombre }"/>
			
			<!--ALTURA-->
			<td th:text="|${usuario.altura}CM|" />
			
			<!--PESO-->
			<td th:text="|${usuario.peso}KG|" />

		</tr>
	</table>
</div>