<div class="container">
	<h1>Lista de usuarios</h1>

	<form action="/usuario/c">
		<input type="submit" value="Nuevo usuario" />
	</form>


	<form action="/">

		<input type="submit" value="Menú principal" />
	</form>

	<table class="table table-striped table-hover">
		<tr>
			<th>Acción</th>
			<th>Loginname</th>
			<th>Nombre</th>
			<th>Correo</th>
			<th>Fecha Nacimiento</th>
			<th>Genero</th>
			<th>Altura</th>
			<th>Peso</th>
			<th>Plan</th>
			<th>Entrenador</th>
			<th>Rutinas</th>
			
			
		</tr>

		<tr th:each=" usuario : ${ usuarios }">
			<td>
				<div class="row">
					<div class="col">
						<form action="/usuario/u">
							<input type="hidden" th:value="${ usuario.id }" name="id" />
							<button onclick="submit()">
								<img src="/img/lapiz.png" width="20" height="20" />
							</button>
						</form>
					</div>

					<div class="col">
						<form action="/usuario/d" method="post">
							<input type="hidden" th:value="${ usuario.id }" name="id" />
							<button onclick="submit()">
								<img src="/img/basura.png" width="20" height="20" />
							</button>
						</form>
					</div>
				</div>
			</td>

			<td th:text="${ usuario.loginname }" />

			<td th:text="${ usuario.nombre }" />
			
			<td th:text="${ usuario.correo }" />
			
			<td th:text="${ usuario.fechaNac }" />
			
			<td th:text="${ usuario.genero}"/>
			
			<td th:text="${ usuario.altura}"/>
			
			<td th:text="${ usuario.peso}"/>
			
			<td th:text="${ usuario.plan?.nombre}"/>
			
			<td th:text="${ usuario.entrenador?.nombre}"/>
			
			<td>
				<th:block th:each="rutina : ${usuario.rutinas}" th:text="|${rutina.nombre} - |" />
			</td>


		</tr>
	</table>
</div>