<div class="container">
	<h1>Actualizar usuario</h1>

	<form action="/usuario/u" method="post">

		Altura
		<input type="number" name="altura" required="required" autofocus="autofocus" min="0" max="250"/>
		<br />
		
		Peso
		<input type="number" name="peso" required="required" autofocus="autofocus" min="0" max="300"/>
		<br />
		
		Plan
		<select name="idPlan">
			<th:block th:each="plan : ${planes}">
				<option th:value="${plan.id}" th:text="${plan.nombre}" />
			</th:block>
		</select>
		<br />
		
		Entrenador
		<select name="idEntrenador">
			<th:block th:each="entrenador : ${entrenadors}">
				<option th:value="${entrenador.id}" th:text="${entrenador.nombre}" />
			</th:block>
		</select>
		<br />
		
		Rutinas
		<select name="idRutinas[]" multiple>
			<th:block th:each="rutina : ${rutinas}">
				<option th:value="${rutina.id}" th:text="${rutina.nombre}" />
			</th:block>
		</select>
		<br />

		<input type="hidden" name="idUsuario" th:value="${usuario.id}" />

		<input type="submit" />
		<br />
	</form>

	<form action="/usuario/r">
		<input type="submit" value="Cancelar" />
	</form>
</div>