<h2>Lista de entrenadores</h2>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Especialización</th>
            <th>Años de experiencia</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let entrenador of entrenadores">
            <td>{{entrenador.nombre}}</td>
            <td>{{entrenador.correo}}</td>
            <td>{{entrenador.especializacion}}</td>
            <td>{{entrenador.anosexperiencia}}</td>
            <td>
                <button (click)="actualizarEntrenador(entrenador.id)" class="btn btn-info">Editar Entrenador</button>
                <button (click)="eliminarEntrenador(entrenador.id)" class="btn btn-info">Eliminar Entrenador</button>
            </td>
        </tr>
    </tbody>
    <button class="btn btn-primary" [routerLink]="['/registrar-entrenadores']">Registrar Entrenador</button>
</table>
<app-footer></app-footer>
