<div class="col-md-6 offset-md-3">
    <h3 class="text-center">Actualizar Ejercicios</h3>
    <form (ngSubmit)="onSubmit()" #ejerciciosForm = "ngForm" >
        <div class="form-group">
            <label class="col-md-2 control-label">Nombre: </label>
            <input type="text" class="form-control" id="nombre" [(ngModel)]="ejercicio.nombre" name="nombre" #nombre = "ngModel" >
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Descripción: </label>
            <input type="text" class="form-control" id="descripcion" [(ngModel)]="ejercicio.descripcion" name="descripcion" #descripcion = "ngModel">
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Grupo Muscular: </label>
            <input type="text" class="form-control" id="grupomuscular" [(ngModel)]="ejercicio.grupomuscular" name="grupomuscular" #grupomuscular = "ngModel">
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Equipo Necesario: </label>
            <input type="text" class="form-control" id="equiponecesario" [(ngModel)]="ejercicio.equiponecesario" name="equiponecesario" #equiponecesario = "ngModel">
        </div><br>
        <button class="btn btn-success">Guardar</button>
    </form>
</div>
