<mat-card class="mt10" *ngFor = "let e of entrenadores">
      
    <mat-card-header>  
      <mat-card-title><mat-icon mat-list-icon>person</mat-icon>
          {{ e.nombre }}
        </mat-card-title>
        <mat-card-subtitle>
          {{ e.entrenadorId }}
        </mat-card-subtitle>
        <mat-card-subtitle>
          {{ e.correo }}
        </mat-card-subtitle>
        <mat-card-content>
          <b>Especialización:</b> {{e.especializacion}}<br/>
          <b>Años de experiencia:</b> {{e.anosexperiencia}} año
        </mat-card-content>
    </mat-card-header>
    <mat-card-content>
      <mat-card-actions>
        <button [routerLink] = "'/admin/entrenador/'+e.id" mat-flat-button color="primary" class="ml20">Actualizar</button>
        <!--<button mat-flat-button color="primary" class="ml10" (click) = "actualizarEntrenador(e.id)">Actualizar</button>-->
        <button mat-flat-button color="warn" class="ml10" (click) = "eliminarEntrenador(e.entrenadorId)">Eliminar</button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
  
  <div class="container text-center mt20">
    <button routerLink="/admin/add-entrenador" mat-raised-button color="primary">Agregar entrenador</button>
  </div>
