<style>
.footer {
    background-color: #4B3621;
    background-image: linear-gradient(to bottom, #4B3621, #9E7C37);
    color: #FFFFFF;
    padding: 20px;
  }
  
  .footer a {
    color: #FFFFFF;
  }
  
  .footer a:hover {
    color: #F0E68C;
  }
</style> 

<footer class="bg-danger py-3 footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h5 class="mb-3 text-white">Nuestras redes sociales:</h5>
          <ul class="list-unstyled">
            <li class="my-2"><a href="https://www.facebook.com/gimnasios.getfit/">Facebook<i class="bi bi-facebook fs-4 text-white"></i></a></li>
            <li class="my-2"><a href="https://www.instagram.com/getfit_pozuelo/?hl=es">Instagram<i class="bi bi-instagram fs-4 text-white"></i></a></li>
            <li class="my-2"><a href="https://twitter.com/getfitgymclub">Twitter<i class="bi bi-twitter fs-4 text-white"></i></a></li>
          </ul>
        </div>
        <div class="col-md-6 text-end">
            <h5 class="mb-3 text-white">¿Tienes alguna duda?</h5>
            <p class="text-white">Ponte en contacto con nosotros:</p>
            <ul class="list-unstyled">
              <li class="my-2"><i class="bi bi-envelope text-white me-2"></i><a href="mailto:getfit@getfit.com" class="text-white">getfit@getfit.com</a></li>
              <li class="my-2"><i class="bi bi-telephone text-white me-2"></i><a href="tel:+626553901" class="text-white">+626553901</a></li>
              <li class="my-2"><i class="bi bi-geo-alt text-white me-2"></i><span class="text-white"> C. de la Caléndula, 93, 28109 Alcobendas, Madrid</span></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
