
	<section class="h-100 mt-5 px-4">
		<div class="container h-100 px-4">
			<div class="row justify-content-md-center h-100">
				<div class="card-wrapper">
					
					<div class="card fat px-4">
						<div class="card-body">
							<h4 class="card-title">REGISTRO</h4>

							<form method="POST" class="my-login-validation mt-3" novalidate="">

                                <div class="form-group">
									<label for="name">Nombre de Usuario</label>
									<input id="name" type="text" class="form-control" name="name" required autofocus>
									<div class="invalid-feedback">
										Introduce un Nombre de Usuario
									</div>
								</div>

								<div class="form-group mt-3">
									<label for="name">Nombre y Apellidos</label>
									<input id="name" type="text" class="form-control" name="name" required autofocus>
									<div class="invalid-feedback">
										Cual es tu nombre?
									</div>
								</div>

								<div class="form-group mt-3">
									<label for="email">E-Mail</label>
									<input id="email" type="email" class="form-control" name="email" required>
									<div class="invalid-feedback">
										Su email es invalido
									</div>
								</div>

								<div class="form-group mt-3">
									<label for="password">Contraseña</label>
									<input id="password" type="password" class="form-control" name="password" required data-eye>
									<div class="invalid-feedback">
										Se requiere contraseña
									</div>
								</div>

								<div class="form-group mt-4">
									<button type="submit" class="btn btn-primary btn-block">
										Register
									</button>
								</div>
								
							</form>
						</div>
					</div>
					<div class="footer">
						Copyright &copy; 2023 &mdash; Get Fit 
					</div>
				</div>
			</div>
		</div>
	</section>



