<div class="container-fluid py-5">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-md-6 col-lg-4">
            <div class="card bg-light">
                <div class="card-body">
                    <h3 class="text-center mb-3">Registro</h3>
                    <form>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="loginname" placeholder="Loginname">
                            <label for="loginname">Loginname</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="nombre" placeholder="Nombre">
                            <label for="nombre">Nombre</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="correo" placeholder="name@example.com">
                            <label for="correo">Correo</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="date" class="form-control" id="fechaNacimiento">
                            <label for="fechaNacimiento">Fecha de Nacimiento</label>
                        </div>
                        <div class="form-floating mb-3">
                            <select class="form-select" id="genero">
                                <option value="" disabled selected>Selecciona una opción</option>
                                <option value="masculino">Masculino</option>
                                <option value="femenino">Femenino</option>
                                <option value="otro">Otro</option>
                            </select>
                            <label for="genero">Género</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" id="altura" placeholder="Altura" min="0" max="250">
                            <label for="altura">Altura (cm)</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" id="peso" placeholder="Peso" min="0" max="400">
                            <label for="peso">Peso (kg)</label>
                        </div>
                        <div class="d-grid gap-2">
                            <button class="btn btn-primary" type="button">Registrarse</button>
                        </div>
                        <hr>
                        <p class="text-center mb-0">¿Ya tienes cuenta? <a [routerLink]="['/login']">Inicia sesión aquí</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


