<mat-card>
  <h1>Agregar nuevo Ejercicio</h1>
  <mat-card-content>
    <div class="bootstrap-wrapper">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <form *ngIf="ejercicio" (submit)="actualizarDatos()">
            <mat-form-field class="w100" appearance="outline">
              <mat-label>Nombre</mat-label>
              <input required autofocus type="text" name="nombre" matInput placeholder="Digite el nombre del Ejercicio" [(ngModel)]="ejercicio.nombre">
            </mat-form-field>

            <mat-form-field class="w100" appearance="outline">
              <mat-label>Descripcion</mat-label>
              <textarea required name="descripcion" matInput placeholder="Introduzca una descripción para el ejercicio" [(ngModel)]="ejercicio.descripcion"></textarea>
            </mat-form-field>

            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="w100" appearance="outline">
                  <mat-label>Grupo Muscular</mat-label>
                  <mat-select required name="grupomuscular" [(ngModel)]="ejercicio.grupomuscular">
                    <mat-option value="Pectorales (pecho)">Pectorales (pecho)</mat-option>
                    <mat-option value="Dorsales (espalda)">Dorsales (espalda)</mat-option>
                    <mat-option value="Deltoides (hombros)">Deltoides (hombros)</mat-option>
                    <mat-option value="Bíceps">Bíceps</mat-option>
                    <mat-option value="Tríceps">Tríceps</mat-option>
                    <mat-option value="Cuádriceps">Cuádriceps</mat-option>
                    <mat-option value="Isquiotibiales">Isquiotibiales</mat-option>
                    <mat-option value="Glúteos">Glúteos</mat-option>
                    <mat-option value="Pantorrillas">Pantorrillas</mat-option>
                    <mat-option value="Pantorrillas">Gemelos</mat-option>
                    <mat-option value="Abdominales">Abdominales</mat-option>
                    <mat-option value="Otro">Otro</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="w100" appearance="outline">
                  <mat-label>Equipo Necesario</mat-label>
                  <mat-select required name="equiponecesario" [(ngModel)]="ejercicio.equiponecesario">
                    <mat-option value="Máquinas de cardio">Máquinas de cardio</mat-option>
                    <mat-option value="Máquinas de musculación">Máquinas de musculación</mat-option>
                    <mat-option value="Máquinas de musculación">Poleas</mat-option>
                    <mat-option value="Pesas libres">Pesas libres</mat-option>
                    <mat-option value="Bancos de ejercicio">Bancos de ejercicio</mat-option>
                    <mat-option value="Jaulas de potencia / Racks">Jaulas de potencia / Racks</mat-option>
                    <mat-option value="Máquinas de peso libre">Máquinas de peso libre</mat-option>
                    <mat-option value="Equipos de entrenamiento funcional">Equipos de entrenamiento funcional</mat-option>
                    <mat-option value="Equipos de entrenamiento de peso corporal">Equipos de entrenamiento de peso corporal</mat-option>
                    <mat-option value="Equipos de estiramiento y movilidad">Equipos de estiramiento y movilidad</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="w100" appearance="outline">
                  <mat-label>Series</mat-label>
                  <input required type="number" name="series" matInput placeholder="Introduzca el numero total de series" [(ngModel)]="ejercicio.series" min="0" max="30">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="w100" appearance="outline">
                  <mat-label>Repeticiones</mat-label>
                  <input required type="number" name="repeticiones" matInput placeholder="Introduzca el numero total de repeticiones" [(ngModel)]="ejercicio.repeticiones" min="0">
                </mat-form-field>
              </div>
            </div>

            <mat-form-field class="w100" appearance="outline">
              <mat-label>Peso Maximo (Kg)</mat-label>
              <input required type="number" name="peso" matInput placeholder="Introduzca el peso maximo obtenido" [(ngModel)]="ejercicio.peso" min="0">
            </mat-form-field>

            <div class="container text-center mt15">
              <button mat-raised-button color="primary">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
