
<div class="container">
<h1>Lista de planes</h1>

<form action="/plan/c">
<input type="submit" value="Nuevo plan"/>
</form>


<form action="/">

<input type="submit" value="Menú principal"/>
</form>

<table class="table table-striped table-hover">
<tr>
<th>Acción</th>
<th>Nombre</th>
</tr>

<tr th:each=" plan : ${ plans }">
<td>
<div class="row">
<div class="col">
<form action="/plan/u">
<input type="hidden" th:value="${ plan.id }" name="id"/>
<button onclick="submit()">
<img src="/img/lapiz.png" width="20" height="20"/>
</button>
</form>
</div>

<div class="col">
<form action="/plan/d" method="post">
<input type="hidden" th:value="${ plan.id }" name="id"/>
<button onclick="submit()">
<img src="/img/basura.png" width="20" height="20"/>
</button>
</form>
</div>
</div>
</td>

<td th:text="${ plan.nombre }"/>


</tr>
</table>
</div>