
<div class="container">
<h1>Crear ejercicio</h1>
<form action="/ejercicio/c" method="post">
Nombre
<input type="text" name="nombre" required="required" autofocus="autofocus"/>
<br/>
Descripcion
<input type="text" name="descripcion" required="required" autofocus="autofocus"/>
<br/>
Grupo muscular
<input type="text" name="grupoMuscular" required="required" autofocus="autofocus"/>
<br/>
Equipo necesario
<input type="text" name="equipoNecesario" required="required" autofocus="autofocus"/>
<br/>

<input type="submit"/>
<br/>
</form>

<form action="/ejercicio/r">
<input type="submit" value="Cancelar"/>
</form>
</div>
