<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre nosotros</title>
</head>

<body>
    <div class="px-4 py-5 text-center">
        <h1 class="display-1 fw-bold">Sobre nosotros</h1>
        <div class="col-lg-8 mx-auto">
            <p class="lead mb-4">
                En nuestro gimnasio, se respira un ambiente muy positivo y de buen rollo entre todos los compañeros y el
                staff. Desde el primer día, nos dimos cuenta de que había una gran camaradería y colaboración entre
                todos, y eso ha seguido siendo así a lo largo del tiempo. No importa si se trata de un entrenamiento
                intenso o simplemente de un día relajado en el gimnasio,
                siempre hay alguien dispuesto a ayudarte o animarte. Los compañeros y el staff siempre están ahí para
                ofrecer consejos y apoyo, y eso crea una sensación de comunidad y amistad muy especial.
            </p>
            <p class="lead mb-4">
                Además, uno de los valores de nuestra empresa es la importancia que se le da al trabajo en equipo y a la
                colaboración. Se fomenta el respeto y la empatía hacia los demás, y se valora mucho la honestidad y la
                integridad en todas las interacciones.
            </p>
            <p class="lead mb-4">
                En definitiva, en nuestro gimnasio se respira un ambiente de positividad y buen rollo que hace que sea
                un lugar muy especial y acogedor para todos los que formamos parte de él.
            </p>
        </div>
    </div>

    <!--ENTRENADORES-->
    <section class="bg-light py-5">
        <div class="container">
          <h2 class="display-4 fw-bold mt-5">Nuestro Personal</h2>
      
          <div class="row">
            <div class="col-md-4" *ngFor="let e of entrenadores">
              <div class="card mb-4">
                <div class="row g-0">
                  <div class="col-md-5">
                    <img src="../../../assets/entrenadorGenerico.png" class="card-img" alt="Imagen del entrenador">
                  </div>
                  <div class="col-md-7">
                    <div class="card-body">
                      <h3 class="card-title fw-bold mb-0" style="font-size: 1.5rem;">{{ e.nombre }}</h3>
                      <p class="card-text" style="font-size: 1rem;"></p>
                      <p class="card-text small">Especialización: {{ e.especializacion }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      
      
      
      
      
          

          
    <div class="container my-5">
        <div class="row">

            <div class="col-md-6"><iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3606.445433836084!2d-3.6514530629802677!3d40.52729202040774!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd422db2a990fefb%3A0xe9554da8863251de!2sGet%20Fit%20La%20Moraleja%20(Entrenamiento%20personal%20y%20electroestimulaci%C3%B3n)!5e0!3m2!1ses!2ses!4v1682531759739!5m2!1ses!2ses"
                    width="600" height="350" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe> </div>
            <div class="col-md-6">
                <h1>Donde encontrarnos</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis fugiat cupiditate repellendus quae
                    magnam?
                    Perferendis nihil dolorem corporis nostrum ipsa assumenda quia delectus, quasi enim velit, eligendi
                    natus.
                    Laborum, iure?</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis fugiat cupiditate repellendus quae
                    magnam?
                    Perferendis nihil dolorem corporis nostrum ipsa assumenda quia delectus, quasi enim velit, eligendi
                    natus.
                    Laborum, iure?</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis fugiat cupiditate repellendus quae
                    magnam?
                    Perferendis nihil dolorem corporis nostrum ipsa assumenda quia delectus, quasi enim velit, eligendi
                    natus.
                    Laborum, iure?</p>


            </div>
        </div>
    </div>
</body>

</html>
<app-footer></app-footer>