<div class="container">
	<h1>Crear usuario</h1>
	<form action="/usuario/c" method="post">

		Loginname
		<input type="text" name="loginname" required="required" autofocus="autofocus" />
		<br />

		Nombre
		<input type="text" name="nombre" required="required" autofocus="autofocus" />
		<br />

		Correo
		<input type="email" name="correo" required="required" autofocus="autofocus" />
		<br />

		Contraseña
		<input type="password" name="contraseña" required="required" autofocus="autofocus" />
		<br />

		Fecha de Nacimiento
		<input type="date" name="fechaNac" required="required" autofocus="autofocus" />
		<br />

		Genero
		<select name="genero">
			<option value="hombre">Hombre</option>		
			<option value="mujer">Mujer</option>
		</select>
		<br />

		Altura
		<input type="number" name="altura" required="required" autofocus="autofocus" min="0" max="250"/>
		<br />
		
		Peso
		<input type="number" name="peso" required="required" autofocus="autofocus" min="0" max="300"/>
		<br />
		
		Plan
		<select name="idPlan">
			<th:block th:each="plan : ${planes}">
				<option th:value="${plan.id}" th:text="${plan.nombre}" />
			</th:block>
		</select>
		<br />
		
		Rutinas
		<select name="idRutinas[]" multiple>
			<th:block th:each="rutina : ${rutinas}">
				<option th:value="${rutina.id}" th:text="${rutina.nombre}" />
			</th:block>
		</select>
		<br />
		


		<input type="submit" />
		<br />
	</form>

	<form action="/usuario/r">
		<input type="submit" value="Cancelar" />
	</form>
</div>
