<div class="container">
	<h1>Actualizar usuario</h1>

	<form action="/usuario/u" method="post">
		
		Loginname
		<input type="text" name="loginname" required="required" autofocus="autofocus" />
		<br />

		Nombre
		<input type="text" name="nombre" required="required" autofocus="autofocus" />
		<br />

		Correo
		<input type="email" name="correo" required="required" autofocus="autofocus" />
		<br />

		Contraseña
		<input type="password" name="contraseña" required="required" autofocus="autofocus" />
		<br />

		Fecha de Nacimiento
		<input type="date" name="fechaNac" required="required" autofocus="autofocus" />
		<br />

		Genero
		<select name="genero">
			<option value="hombre">Hombre</option>		
			<option value="mujer">Mujer</option>
		</select>
		<br />

		Altura
		<input type="number" name="altura" required="required" autofocus="autofocus" min="0" max="250"/>
		<br />
		
		Peso
		<input type="number" name="peso" required="required" autofocus="autofocus" min="0" max="300"/>
		<br />

		<input type="hidden" name="idUsuario" th:value="${usuario.id}" />

		<input type="submit" />
		<br />
	</form>

	<form action="/usuario/r">
		<input type="submit" value="Cancelar" />
	</form>
</div>