mat-card {
    transition: transform 0.3s ease;
  }
  
  mat-card:hover {
    transform: scale(1.05);
  }
  
  .title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    
    margin-bottom: 20px;
  }

  button {
    width: 100%;
  }

  .btn-dificultad-facil {
    background-color: #007bff;
    color: white;
  }
  
  .btn-dificultad-medio {
    background-color: #ffc107;
    color: black;
  }
  
  .btn-dificultad-dificil {
    background-color: #dc3545;
    color: white;
  }
  