mat-card {
    transition: transform 0.3s ease;
  }
  
  mat-card:hover {
    transform: scale(1.05);
  }
  
  .title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    
    margin-bottom: 20px;
  }

  button {
    width: 100%;
  }