<mat-card class="mt10" *ngFor = "let r of rutinas">
      
    <mat-card-header>
      <mat-icon mat-card-avatar>fitness_center</mat-icon>  
      <mat-card-title>
        
          {{ r.nombre }}
        </mat-card-title>
        <mat-card-content>
          <b>Descripcion:</b> {{r.descripcion}}<br/>
          <b>Dificultad:</b> {{r.dificultad}}<br/>
          <b>Duracion:</b> {{r.duracion}}<br/>
          
        </mat-card-content>
    </mat-card-header>
    <mat-card-content>
      <mat-card-actions>
        <!--<button [routerLink] = "'/user-dashboard/mis-rutinas-actualizar/'+r.rutinaId" mat-flat-button color="primary" class="ml20">Actualizar</button>-->
        <!--<button mat-flat-button color="warn" class="ml10" (click) = "eliminarRutina(r.rutinaId)">Eliminar</button>-->
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
  
  <div class="container text-center mt20">
    <!--<button [routerLink] = "'/admin/add-ejercicio/'+rutinaId+'/'+nombre" mat-raised-button color="primary">Agregar Ejercicio</button>-->
  </div>
